* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #111;
}


/* header */

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    z-index: 1;
}

.navbar ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.navbar li {
    list-style: none;
    padding: 1rem;
}

.navbar li a {
    padding: 2px 2px;
    text-decoration: none;
    color: #fff;
}

.navbar li a:hover {
    color: gray;
}


.logo {
    height: 50px;
    width: 90px;
    display: flex;
    align-items: center;
}

.logo img {
    width: 100%;
}

.avatar img{
    width: 30px;
    height: 30px;

}

/* banner */

.banner {
    position: relative;
    background-image: url("images/banner.jpg");
    background-size: cover;
    background-position: center;
    z-index: 1;
    height: 448px;
    color: white;
}


.banner_contents {
    margin-left: 30px;
    padding-top: 190px;
    height: 190px;
}

.banner_title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}

.banner_btn {
    margin-top: 5px;
    margin-bottom: 10px;
    
}

.banner_btn button {
    width: 100px;
    height: 30px;
    font-size: 14px;
    border-radius: 2px;
    border: 1px solid transparent;
    background-color: rgba(50, 50, 50, 0.5); 
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: white;
    margin-right: 10px;
}

.banner_btn button:hover {
    background-color: rgb(171, 163, 163);
    cursor: pointer;
}

.banner_description {
    line-height: 1.5;
    padding-top: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    font-family: Arial, sans-serif;
}


/* row */
.row {
    color: white;
}

.row h2 {
    margin-left: 25px;
    margin-top: 20px;
}

.row_posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}


.row_poster {
    width: 100%;
    object-fit: contain;
    max-height: 100px;
    margin-right: 10px;
    transition: transform 450ms;
}

.row_poster:hover {
    transform: scale(1.1);
}

.row_posters::-webkit-scrollbar {
    display: none;
}

.row_posterLarge {
    max-height: 250px;
}